.custom-upload-btn,
.custom-cancel-btn,
.custom-choose-btn {
  cursor: pointer;
  border-radius: 50%;
}

.file-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mobile view */
@media (max-width: 767px) {
  .file-name {
    max-width: 5rem;
  }
}

.term-condition {
  width: "100%";
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.upload-container {
  min-height: 24rem;
}
